.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;
	height: 2.2em;
}
.searchBtn {
	font-size: 1.1em;
	color: WHITE;
	width: 20%;
	height: 100%;
	background-color: var(--clr-primary);
	border: 2px solid var(--clr-primary);
	border-radius: 0 10px 10px 0;
	padding: 0.1em 0.5em;
	transition: background-color .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.searchBtn:hover {
	background-color: var(--clr-primary-light);
	border: 2px solid var(--clr-primary-light);
}
.searchBtn:focus {
	outline: none;
}

.inputTxt {
	font-size: 1.2em;
	background-color: transparent;
	color: white;
	height: 100%;
	width: 60%;
	border: 2px solid var(--clr-primary);
	border-radius: 10px 0 0 10px;
	padding: 0 0.5em;
	transition: border .2s ease-in-out;
}

.inputTxt:hover {
	border: 2px solid var(--clr-primary-light);
}

.inputTxt:focus {
	outline: none;
	border: 2px solid var(--clr-primary-light);
}

@media (max-width: 750px) {
	.searchBtn {
		width: 40%;
	}

	.inputTxt {
		width: 60%;
	}
}
