.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}
.searchBtn {
  width: 20%;
  background-color: #2af545;
  border: 2px solid #2af545;
  border-radius: 0 10px 10px 0;
}

.searchBtn:hover {
  background-color: #eb2828;
  border: 2px solid #eb2828;
}

.inputTxt {
  background-color: transparent;
  color: white;
  width: 40%;
  border: 2px solid #2af545;
  border-radius: 10px 0 0 10px;
}

.inputTxt:hover {
  border: 2px solid #eb2828;
}

.inputTxt:focus {
  outline: none;
  border: 2px solid #2af545;
}
