:root {
	--clr-primary: #E5989B;
	--clr-primary-dark: #B5838D;
	--clr-primary-light:#FFB4A2;
	--clr-primary-text:#FFCDB2;
	--clr-secondary: #6D6875;
	--clr-secondary-text: #757575;
	--clr-divider: #BDBDBD;
	--clr-warning: #F6DB2D;
	--clr-error: #D53051;
	--clr-success: #97DA3F;
}
::selection{
	background-color: var(--clr-primary);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body {
	background-color: #4caf50;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23c4ce5f' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23307133' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23cfe099' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2373b25e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%239ab274' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%235a8733' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b9e39a' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23b9dd7c' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23697a64' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23afc954' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23c7dec8' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23dbea45' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

p{
	font-size: 1.4em;
}